{% extends 'learning_logs/base.html' %} <!--Код наследования от родительского
шаблона. Тег extends сообщает Django сообщает, от какого родительского
шаблона наследуется информация. Файл base.html является частью learning_logs,
поэтому learning_logs вклюячается в путь к родительскому шаблону.
Эта строка извлекает все содержимое из шаблона base.html и позволяет 
index.html определить, что должно попасть в пространство, зарезервированное
блоком content-->

{% block page_header %} <!--Сообщаем Django о том, что следует определение 
содержимое блока page_header-->

    <!--Элемент jumbotron представляет собой обычный элемент div, к которому
    применяется набор стилевых директив из библиотеки Bootstrap к элементу-->
    <div class="jumbotron"
        <h1 class="display-3"><span style="font-size:26px">Track your learning.</span></h1> 
        <!--Первое короткое сообщение, которое дает краткое описание проекта-->

        <!--Второй заголовок с более длинным сообщением-->
        <p class="lead">Make your own Learning Log, and keep a list of the
            topics you're learning about. Whenever you learn something new
            about a topic, make an entry summarizing what you've learned.
        </p>

        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
            role="button">Register &raquo;</a>
        
    </div>
    
{% endblock page_header %} <!--Конец контента-->