{% extends "learning_logs/base.html" %}

{% load bootstrap4 %}

{% block page_header %}
  <h2>Add a new topic</h2>
{% endblock page_header %}

{% block content %}
  <form action="{% url 'learning_logs:new_topic' %}" method="post"> <!--Определяется
  форма HTML. Аргумент action сообщает сверху, куда передавать данные, отправленные
  формой; в данном случае данные возвращаются функции представления new_topic.
  Аргумент method приказывает браузеру отправить данные в запросе типа POST-->
    {% csrf_token %} <!--Шаблонный токен, используемый Django для предотвращения
    попыток получения несанккуионированного доступа к серверу (атаки такого рода 
    называются межсайтовой подделкой запросов)-->
    {% bootstrap_form form %}
    {% buttons %}
      <button name="Submit">add topic</button> <!--Создаем кнопку для отправки данных-->
    {% endbuttons %}
  </form>

{% endblock content %}