{% extends 'learning_logs/base.html' %} 

{% block page_header %}
  <h3>{{ topic }}</h3>
{% endblock page_header %}

{% block content %}
  <h3>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add a new entry</a>
  </h3>
  
  {% for entry in entries %} <!--Эквивалент циклу for-->
    <div class="card mb-3"> <!--Вместо элемента списка мы создаем элемент
    с селектором card.
    Он имеет два вложенных элемента: первый предназначен для хранения
    временной метки и ссылки для редактирования, а второй - для 
    хранения телп записи.-->
      <h4 class="card-header"> <!--Первый элемент card-->
        {{ entry.date_added|date:'M d, Y H:i' }} <!--чтобы вывести 
          значение переменной в шаблоне,
          ее необходимо заключить в двойнык фигурные скобки. Так мы 
          преобразуем темы в элемент маркированного списка. 
          После прохождения цикла entry будет заменен на значение entry в 
          шаблоне-->
        <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">
          Edit entry</a></small> <!--Включается тег small, чтобы кнопка 
          изменения была чуть меньше даты -->
      </h4>
      <div class="card-body"> <!--Второй элемент card-->
        {{ entry.text|linebreaks }}<!--горизонтальная
        черта используется в качестве фильтра (функция, изменяющая 
        значение шаблонной переменной). linebreaks - нужен
        для корректного разрыва строк в браузере-->
      </div>
    </div>
  {% empty %} <!--сообщает Django, что делать при отсутствии элементов
  в списке (как else)-->
    <p>There are no entries for this topic yet.</p>
  {% endfor %} <!--конец цикла-->

{% endblock content %}